<div th:fragment="available-connectors">
  <div class="row">
    <div class="col">

      <table class="table table-striped table-hover caption-top" id="available-connectors-table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Connector name</th>
          <th scope="col">Job type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>