<div th:fragment="connector-secrets">
  <div class="row">
    <div class="col">
      <table
        class="table table-striped table-hover caption-top"
        id="connector-secrets-table"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Secret name</th>
            <th scope="col">Secret value</th>
            <th scope="col">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#new-connector-secret-modal"
              >
                <svg class="bi" width="18" height="18" fill="white">
                  <use xlink:href="/img/bootstrap-icons.svg#key" />
                </svg>
                New Secret
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
