<div th:fragment="edit-connector-secret-modal">

  <div class="modal fade" id="edit-connector-secret-modal" tabindex="-1"
       aria-labelledby="edit-connector-secretModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-connector-secretModal">Edit Connector Secret</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
              <label for="edit-connector-secret-name" class="form-label">Secret name</label>
              <input class="form-control" id="edit-connector-secret-name" type="text" readonly>
            </div>
            <div class="mb-3">
              <label for="edit-connector-secret-value" class="form-label">Secret value</label>
              <input class="form-control" id="edit-connector-secret-value" type="text">
              <div class="form-text">Secrets are not encrypted. You should not use actual secrets
                from a production environment.
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  onclick="onEditConnectorSecret();">Update
          </button>
        </div>
      </div>
    </div>
  </div>

</div>