<div th:fragment="new-connector-secret-modal">
  <div
    class="modal fade"
    id="new-connector-secret-modal"
    tabindex="-1"
    aria-labelledby="new-connector-secretModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new-connector-secretModal">
            New Connector Secret
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="new-connector-secret-name" class="form-label"
                >Secret name</label
              >
              <input
                class="form-control"
                id="new-connector-secret-name"
                type="text"
              />
            </div>
            <div class="mb-3">
              <label for="new-connector-secret-value" class="form-label"
                >Secret value</label
              >
              <input
                class="form-control"
                id="new-connector-secret-value"
                type="text"
              />
              <div class="form-text">
                Secrets are not encrypted. You should not use actual secrets
                from a production environment.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            onclick="onAddNewConnectorSecret();"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
