/* for BPMN */
.highlight-overlay {
  background-color: #20ed20; /* color elements as green */
  opacity: 0.9;
  border-radius: 5px;
  pointer-events: none; /* no pointer events, allows clicking through onto the element */
}

.overlay-button {
  /* background-color: #20ed20; */
  opacity: 0.9;
}

.bpmn-element-info {
  background-color: rgba(0, 125, 255, 0.7);
  opacity: 0.9;
  /*border-radius: 5px;*/
  /*pointer-events: none;*/
}

/* Colors:
 * blue: rgba(0, 125, 255, 0.7)
 * green: rgba(66, 180, 21, 0.7)
 * purple: rgba(231, 12, 217, 0.7)
 * orange: rgba(255, 47, 0, 0.7)
 */

.bpmn-element-selected .djs-visual > :nth-child(1) {
  stroke: rgba(231, 12, 217, 0.7) !important;
  stroke-dasharray: 5;
  stroke-width: 2px !important;
}

.bpmn-element-active .djs-visual > :nth-child(1) {
   stroke: rgba(66, 180, 21, 0.7) !important;
}

.bpmn-element-incident .djs-visual > :nth-child(1) {
  stroke: rgba(255, 47, 0, 0.7) !important;
}
