<div th:fragment="process-details-instances">
  <div class="row">
    <div class="col">

      <table class="table table-striped table-hover caption-top" id="instances-of-process-table">
        <caption>
          active <span class="badge bg-primary" id="process-instances-active">0</span> /
          completed <span class="badge bg-secondary"  id="process-instances-completed">0</span> /
          terminated <span class="badge bg-dark"  id="process-instances-terminated">0</span>
        </caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Process Instance Key</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">

      <nav aria-label="Page navigation processes" id="instances-of-process-pagination">
        <ul class="pagination">
          <li class="page-item" id="instances-of-process-pagination-previous-button"><a class="page-link" href="#" onclick="loadInstancesOfProcessPrevious();">Previous</a></li>

          <li class="page-item"><a class="page-link" href="#" id="instances-of-process-pagination-first" onclick="loadInstancesOfProcessFirst();">1</a></li>

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="gap" id="instances-of-process-pagination-first-gap">
              <span aria-hidden="true">..</span>
            </a>
          </li>

          <li class="page-item"><a class="page-link" href="#" id="instances-of-process-pagination-previous" onclick="loadInstancesOfProcessPrevious();">2</a></li>

          <li class="page-item active"><a class="page-link" href="#" id="instances-of-process-pagination-current">3</a></li>

          <li class="page-item"><a class="page-link" href="#" id="instances-of-process-pagination-next" onclick="loadInstancesOfProcessNext();">4</a></li>

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="gap" id="instances-of-process-pagination-last-gap">
              <span aria-hidden="true">..</span>
            </a>
          </li>

          <li class="page-item"><a class="page-link" href="#" id="instances-of-process-pagination-last" onclick="loadInstancesOfProcessLast();">5</a></li>

          <li class="page-item" id="instances-of-process-pagination-next-button"><a class="page-link" href="#" onclick="loadInstancesOfProcessNext();">Next</a></li>
        </ul>
      </nav>

    </div>
  </div>
</div>
