<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body onload="loadProcessView();">

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="views/new-instance-modal.html :: #new-instance-modal"></div>
<div th:replace="views/publish-message-modal.html :: #publish-message-modal"></div>
<div th:replace="views/time-travel-modal.html :: #time-travel-modal"></div>

<div class="container-fluid">

  <div class="row justify-content-between">
    <div class="col">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/view/deployment">Processes</a></li>
          <li class="breadcrumb-item active" aria-current="page" id="process-page-key" th:text="${processKey}"></li>
        </ol>
      </nav>

    </div>

    <div class="col-auto">

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary overlay-button" data-bs-toggle="modal" data-bs-target="#new-instance-modal">
          <svg class="bi" width="18" height="18" fill="white"><use xlink:href="/img/bootstrap-icons.svg#play"/></svg>
          New Instance
        </button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#publish-message-modal" href="#">
              <svg class="bi" width="18" height="18"><use xlink:href="/img/bootstrap-icons.svg#envelope"/></svg>
              Publish Message
            </a>
          </li>
          <li>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#time-travel-modal" href="#">
              <svg class="bi" width="18" height="18"><use xlink:href="/img/bootstrap-icons.svg#clock"/></svg>
              Time Travel
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-2">

      <table class="table table-striped">
        <tbody>
        <tr>
          <th>Process Key</th>
        </tr>
        <tr>
          <td id="process-key"></td>
        </tr>
        <tr>
          <th>BPMN Process Id</th>
        </tr>
        <tr>
          <td id="bpmnProcessId"></td>
        </tr>
        <tr>
          <th>Version</th>
        </tr>
        <tr>
          <td id="process-version"></td>
        </tr>
        <tr>
          <th>Deployment Time</th>
        </tr>
        <tr>
          <td id="process-deployment-time"></td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-10">
      <div id="canvas" style="height: 100%;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div th:replace="views/deployment/process/process-details.html :: process-details"></div>
    </div>
  </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>