<div th:fragment="process-details">

  <div class="row justify-content-between">
    <div class="col">

      <ul class="nav nav-tabs" id="process-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="instances-tab" data-bs-toggle="tab" data-bs-target="#instances" type="button" role="tab" aria-controls="instances" aria-selected="true">
            Process Instances
            <span class="badge bg-light text-dark" id="process-instances-total-count">0</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="message-subscriptions-tab" data-bs-toggle="tab" data-bs-target="#message-subscriptions" type="button" role="tab" aria-controls="message-subscriptions" aria-selected="false">
            Message Subscriptions
            <span class="badge bg-light text-dark" id="message-subscriptions-total-count">0</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="timers-tab" data-bs-toggle="tab" data-bs-target="#timers" type="button" role="tab" aria-controls="timers" aria-selected="false">
            Timers
            <span class="badge bg-light text-dark" id="timers-total-count">0</span>
          </button>
        </li>
      </ul>
    </div>

    <div class="col-auto">
      <button id="details-collapse-button" type="button" class="btn btn-sm btn-light" title="collapse" onclick="toggleDetailsCollapse();">
        <svg class="bi" width="18" height="18"><use xlink:href="/img/bootstrap-icons.svg#arrow-bar-down"/></svg>
      </button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="tab-content" id="processTabContent">
      <div class="tab-pane fade show active" id="instances" role="tabpanel" aria-labelledby="instances-tab">
        <div th:replace="views/deployment/process/process-details-instances.html :: process-details-instances"></div>
      </div>

      <div class="tab-pane fade" id="message-subscriptions" role="tabpanel" aria-labelledby="message-subscriptions-tab">
        <div th:replace="views/deployment/process/process-details-message-subscriptions.html :: process-details-message-subscriptions"></div>
      </div>

      <div class="tab-pane fade" id="timers" role="tabpanel" aria-labelledby="timers-tab">
        <div th:replace="views/deployment/process/process-details-timers.html :: process-details-timers"></div>
      </div>
    </div>
  </div>

</div>
