<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body onload="loadProcessView();">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div
      th:replace="views/new-instance-modal.html :: #new-instance-modal"
    ></div>
    <div
      th:replace="views/publish-message-modal.html :: #publish-message-modal"
    ></div>
    <div th:replace="views/time-travel-modal.html :: #time-travel-modal"></div>
    <div
      th:replace="views/modals/message-detail-modal.html :: #message-detail-modal"
    ></div>
    <div
      th:replace="views/modals/error-detail-modal.html :: #error-detail-modal"
    ></div>
    <div
      th:replace="views/modals/broadcast-signal-modal.html :: #broadcast-signal-modal"
    ></div>

    <div class="container-fluid fill-height">
      <div class="row justify-content-between">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/view/deployment">Processes</a>
              </li>
              <li
                class="breadcrumb-item active"
                aria-current="page"
                id="nav-process"
              ></li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row canvas-container">
        <div class="col-12" style="position: relative">
          <div id="diagram-actions">
            <div class="info-container">
              <button
                onclick="toggleDetailInfo(event)"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-trigger="hover"
                title="Show process details"
              >
                <img src="/img/Info.svg" />
              </button>
              <div class="detail-info hidden">
                <div class="detail-entry">
                  <b>Process Key</b>
                  <span id="process-page-key" th:text="${processKey}"></span>
                </div>
                <div class="detail-entry hidden">
                  <b>BPMN Process Id</b>
                  <span id="bpmnProcessId"></span>
                </div>
                <div class="detail-entry">
                  <b>Version</b>
                  <span id="process-version"></span>
                </div>
                <div class="detail-entry">
                  <b>Deployment Time</b>
                  <span id="process-deployment-time"></span>
                </div>
              </div>
            </div>
          </div>
          <div id="canvas-controls">
            <button
              id="toggleFullscreenButton"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Enable fullscreen"
              onclick="enterFullscreen()"
            >
              <img src="/img/EnableFullscreen.svg" width="14" height="14" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Reset viewport"
              onclick="resetViewport()"
            >
              <img src="/img/Target.svg" width="15" height="15" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Zoom out"
              onclick="zoomOut()"
            >
              <img src="/img/Minus.svg" width="12" height="12" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Zoom in"
              onclick="zoomIn()"
            >
              <img src="/img/Plus.svg" width="20" height="20" />
            </button>
          </div>
          <div id="canvas"></div>
          <div
            class="toast-container bottom-0"
            style="z-index: 101; position: absolute"
            id="notifications-toast-container"
          >
            <!-- notifications -->
          </div>
        </div>
      </div>

      <div class="col details-container">
        <div
          th:replace="views/deployment/process/process-details.html :: process-details"
        ></div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
