<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body onload="loadProcessesView();">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">

  <div class="row">
    <div class="col">

      <table class="table table-striped table-hover caption-top" id="processes-table">
        <caption>Deployed processes <span class="badge bg-secondary" id="processes-totalCount">0</span></caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Process Key</th>
          <th scope="col">BPMN Process Id</th>
          <th scope="col">Version</th>
          <th scope="col">Deployment Time</th>
          <th scope="col"># Instances
            <span class="badge bg-primary">active</span> /
            <span class="badge bg-secondary">completed</span> /
            <span class="badge bg-secondary">terminated</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>
            <span class="badge bg-primary">0</span> /
            <span class="badge bg-secondary">0</span> /
            <span class="badge bg-secondary">0</span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>