<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body onload="loadProcessesView();">

<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="views/new-deployment-modal.html :: #new-deployment-modal"></div>

<div class="container-fluid">

  <div class="row justify-content-between">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Processes</li>
        </ol>
      </nav>
    </div>

    <div class="col-auto">

      <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#new-deployment-modal">
        <svg class="bi" width="18" height="18" fill="white"><use xlink:href="/img/bootstrap-icons.svg#upload"/></svg>
         New Deployment
      </button>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class="table table-striped table-hover caption-top" id="processes-table">
        <caption>Deployed processes <span class="badge bg-secondary" id="processes-totalCount">0</span></caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Process Key</th>
          <th scope="col">BPMN Process Id</th>
          <th scope="col">Version</th>
          <th scope="col">Deployment Time</th>
          <th scope="col"># Instances
            <span class="badge bg-primary">active</span> /
            <span class="badge bg-secondary">completed</span> /
            <span class="badge bg-secondary">terminated</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>
            <span class="badge bg-primary">0</span> /
            <span class="badge bg-secondary">0</span> /
            <span class="badge bg-secondary">0</span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">

      <nav aria-label="Page navigation processes" id="processes-pagination">
        <ul class="pagination">
          <li class="page-item" id="processes-pagination-previous-button"><a class="page-link" href="#" onclick="loadProcessesPrevious();">Previous</a></li>

          <li class="page-item"><a class="page-link" href="#" id="processes-pagination-first" onclick="loadProcessesFirst();">1</a></li>

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="gap" id="processes-pagination-first-gap">
              <span aria-hidden="true">..</span>
            </a>
          </li>

          <li class="page-item"><a class="page-link" href="#" id="processes-pagination-previous" onclick="loadProcessesPrevious();">2</a></li>

          <li class="page-item active"><a class="page-link" href="#" id="processes-pagination-current">3</a></li>

          <li class="page-item"><a class="page-link" href="#" id="processes-pagination-next" onclick="loadProcessesNext();">4</a></li>

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="gap" id="processes-pagination-last-gap">
              <span aria-hidden="true">..</span>
            </a>
          </li>

          <li class="page-item"><a class="page-link" href="#" id="processes-pagination-last" onclick="loadProcessesLast();">5</a></li>

          <li class="page-item" id="processes-pagination-next-button"><a class="page-link" href="#" onclick="loadProcessesNext();">Next</a></li>
        </ul>
      </nav>

    </div>
  </div>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>