<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body onload="loadProcessView();">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/view/deployment">Processes</a></li>
          <li class="breadcrumb-item active" aria-current="page" id="process-page-key" th:text="${processKey}"></li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-3">

      <table class="table table-striped">
        <tbody>
        <tr>
          <th>Process Key</th>
          <td id="process-key"></td>
        </tr>
        <tr>
          <th>BPMN Process Id</th>
          <td id="bpmnProcessId"></td>
        </tr>
        <tr>
          <th>Version</th>
          <td id="process-version"></td>
        </tr>
        <tr>
          <th>Deployment Time</th>
          <td id="process-deployment-time"></td>
        </tr>
        <!--
        <tr>
          <th># Instances
            <span class="badge bg-primary">active</span> /
            <span class="badge bg-secondary">completed</span> /
            <span class="badge bg-secondary">terminated</span>
          </th>
          <td>
            <span class="badge bg-primary" id="instances-active">0</span> /
            <span class="badge bg-secondary"  id="instances-completed">0</span> /
            <span class="badge bg-secondary"  id="instances-terminated">0</span>
          </td>
        </tr>
        -->
        </tbody>
      </table>

    </div>

    <div class="col-9">

      <div id="canvas"></div>

    </div>

  </div>



</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>