<div th:fragment="publish-message-modal">
  <div
    class="modal fade"
    id="publish-message-modal"
    tabindex="-1"
    aria-labelledby="publishMessageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="publishMessageModal">Publish Message</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="publishMessageName" class="form-label"
                >Message Name</label
              >
              <input
                type="text"
                class="form-control"
                id="publishMessageName"
                placeholder="new order"
              />
            </div>
            <div class="mb-3">
              <label for="publishMessageCorrelationKey" class="form-label"
                >Message Correlation Key</label
              >
              <input
                type="text"
                class="form-control"
                id="publishMessageCorrelationKey"
                placeholder="order-key-123"
              />
            </div>
            <div class="mb-3">
              <label for="publishMessageVariables" class="form-label"
                >Variables (JSON)</label
              >
              <textarea
                class="form-control"
                id="publishMessageVariables"
                rows="3"
              >
{}</textarea
              >
            </div>
            <div class="mb-3">
              <label for="publishMessageTimeToLive" class="form-label"
                >Message Time-To-Live (TTL)</label
              >
              <input
                type="text"
                class="form-control"
                id="publishMessageTimeToLive"
                placeholder="PT5M"
              />
            </div>
            <div class="mb-3">
              <label for="publishMessageId" class="form-label"
                >Message Id</label
              >
              <input
                type="text"
                class="form-control"
                id="publishMessageId"
                placeholder="tracking-id-123"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            onclick="publishMessageModal();"
          >
            Publish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
