<div th:fragment="set-variables-modal">
  <div
    class="modal fade"
    id="set-variable-modal"
    tabindex="-1"
    aria-labelledby="setVariableModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="setVariableModal">Set Variables</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="variablesScope" class="form-label">Scope</label>
              <input
                class="form-control"
                id="variablesScope"
                type="text"
                value="global"
              />
            </div>
            <div class="mb-3">
              <label for="updatedVariables" class="form-label"
                >Variables (JSON)</label
              >
              <textarea class="form-control" id="updatedVariables" rows="3">
{}</textarea
              >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            onclick="setVariablesModal();"
          >
            Set
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
