<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body onload="loadMonitoringView();">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div
      th:replace="views/modals/message-detail-modal.html :: #message-detail-modal"
    ></div>
    <div
      th:replace="views/modals/error-detail-modal.html :: #error-detail-modal"
    ></div>

    <div class="container-fluid">
      <ul class="nav nav-tabs" id="monitoring-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="process-instances-tab"
            data-bs-toggle="tab"
            data-bs-target="#process-instances"
            type="button"
            role="tab"
            aria-controls="process-instances"
            aria-selected="true"
          >
            Process Instances
            <span
              class="badge bg-light text-dark"
              id="process-instances-total-count"
              >0</span
            >
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="incidents-tab"
            data-bs-toggle="tab"
            data-bs-target="#incidents"
            type="button"
            role="tab"
            aria-controls="incidents"
            aria-selected="false"
          >
            Incidents
            <span class="badge bg-light text-dark" id="incidents-total-count"
              >0</span
            >
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#messages"
            type="button"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
          >
            Messages
            <span class="badge bg-light text-dark" id="messages-total-count"
              >0</span
            >
          </button>
        </li>
      </ul>

      <div class="container-fluid">
        <div class="tab-content" id="monitoringTabContent">
          <div
            class="tab-pane fade show active"
            id="process-instances"
            role="tabpanel"
            aria-labelledby="process-instances-tab"
          >
            <div
              th:replace="views/monitoring/process-instances/process-instances.html :: process-instances"
            ></div>
          </div>

          <div
            class="tab-pane fade"
            id="incidents"
            role="tabpanel"
            aria-labelledby="incidents-tab"
          >
            <div
              th:replace="views/monitoring/incidents/incidents.html :: incidents"
            ></div>
          </div>

          <div
            class="tab-pane fade"
            id="messages"
            role="tabpanel"
            aria-labelledby="messages-tab"
          >
            <div
              th:replace="views/monitoring/messages/messages.html :: messages"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
