<div class="footer text-center" th:fragment="footer">

  <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 101"
       id="notifications-toast-container">
    <!-- notifications -->
  </div>

  <!-- JS -->
  <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>

  <script src="/js/jquery-3.6.0.min.js" type="text/javascript"></script>

  <!-- bpmn-js -->
  <script src="/js/bpmn-navigated-viewer.development.js" type="text/javascript"></script>

  <!-- form-js -->
  <script src="/js/form-viewer.umd.js" type="text/javascript"></script>
  <script src="/js/task-form.js" type="text/javascript"></script>

  <!-- app JS -->
  <script src="/js/zeeqs-client.js" type="text/javascript"></script>
  <script src="/js/rest-client.js" type="text/javascript"></script>

  <script src="/js/view-common.js" type="text/javascript"></script>
  <script src="/js/view-bpmn.js" type="text/javascript"></script>

  <script src="/js/view-home.js" type="text/javascript"></script>
  <script src="/js/view-processes.js" type="text/javascript"></script>
  <script src="/js/view-process.js" type="text/javascript"></script>
  <script src="/js/view-monitoring.js" type="text/javascript"></script>
  <script src="/js/view-process-instance.js" type="text/javascript"></script>
  <script src="/js/view-connectors.js" type="text/javascript"></script>

</div>