<head th:fragment="head">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- bpmn-js CSS  -->
  <link href="/css/bpmn-js.css" rel="stylesheet">
  <link href="/css/bpmn.css" rel="stylesheet">

  <!-- form-js CSS  -->
  <link href="/css/plex.css" rel="stylesheet">
  <link href="/css/form-js.css" rel="stylesheet">
  <link href="/css/light.css" rel="stylesheet">

  <!-- app CSS -->
  <link href="/css/app.css" rel="stylesheet">

  <link rel=icon href="/img/favicon.ico">

  <title>Zeebe Play</title>
</head>