<div th:fragment="process-instance-details-message-subscriptions">
  <div class="row">
    <div class="col">

      <table class="table table-striped table-hover caption-top" id="message-subscriptions-of-process-instance-table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Message Subscription Key</th>
          <th scope="col">Message Name</th>
          <th scope="col">Message Correlation Key</th>
          <th scope="col">Element</th>
          <th scope="col">Element Instance Key</th>
          <th scope="col">State</th>
          <th scope="col"># Correlated Messages</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
