<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body onload="loadProcessInstanceView();">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div
      th:replace="views/publish-message-modal.html :: #publish-message-modal"
    ></div>
    <div th:replace="views/time-travel-modal.html :: #time-travel-modal"></div>
    <div
      th:replace="views/set-variables-modal.html :: #set-variable-modal"
    ></div>
    <div
      th:replace="views/modals/complete-job-modal.html :: #complete-job-modal"
    ></div>
    <div th:replace="views/modals/fail-job-modal.html :: #fail-job-modal"></div>
    <div
      th:replace="views/modals/throw-error-job-modal.html :: #throw-error-job-modal"
    ></div>
    <div
      th:replace="views/modals/message-detail-modal.html :: #message-detail-modal"
    ></div>
    <div
      th:replace="views/modals/error-detail-modal.html :: #error-detail-modal"
    ></div>
    <div
      th:replace="views/modals/task-form-modal.html :: #task-form-modal"
    ></div>
    <div
      th:replace="views/modals/resolve-incident-modal.html :: #resolve-incident-modal"
    ></div>

    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col">
          <nav id="process-instance-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/view/deployment">Processes</a>
              </li>
              <li
                class="breadcrumb-item"
                aria-current="page"
                id="bpmn-process-id"
              ></li>
              <li
                class="breadcrumb-item active"
                aria-current="page"
                id="process-instance-page-key"
                th:text="${processInstanceKey}"
              ></li>
              <li id="process-instance-state"></li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="position: relative">
          <div id="diagram-actions">
            <div id="info-container">
              <button
                onclick="toggleDetailInfo()"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                data-bs-trigger="hover"
                title="Show instance details"
              >
                <img src="/img/Info.svg" />
              </button>
              <div id="detail-info" class="hidden">
                <div class="detail-entry hidden">
                  <b>Process Instance Key</b>
                  <span id="process-instance-key"></span>
                </div>
                <div class="detail-entry">
                  <b>Start Time</b>
                  <span id="process-instance-start-time"></span>
                </div>
                <div class="detail-entry">
                  <b>End Time</b>
                  <span id="process-instance-end-time"></span>
                </div>
              </div>
            </div>
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Show element counters"
            >
              <button id="process-instance-show-element-counters">
                <svg class="bi" width="16" height="16" fill="#666666">
                  <use xlink:href="/img/bootstrap-icons.svg#eye" />
                </svg>
              </button>
            </div>
            <button
              id="process-instance-hide-element-counters"
              class="visually-hidden"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Hide Element Counters"
            >
              <svg class="bi" width="16" height="16" fill="#666666">
                <use xlink:href="/img/bootstrap-icons.svg#eye-slash" />
              </svg>
            </button>
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Set variables"
            >
              <button
                id="process-instance-set-variables"
                data-bs-toggle="modal"
                data-bs-target="#set-variable-modal"
              >
                <svg class="bi" width="16" height="16" fill="#666666">
                  <use xlink:href="/img/bootstrap-icons.svg#filetype-json" />
                </svg>
              </button>
            </div>
            <button
              id="process-instance-cancel"
              onclick="cancelProcessInstance();"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Cancel instance"
            >
              <svg class="bi" width="16" height="16" fill="#666666">
                <use xlink:href="/img/bootstrap-icons.svg#trash3" />
              </svg>
            </button>
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Publish message"
            >
              <button
                id="process-instance-publish-message"
                data-bs-toggle="modal"
                data-bs-target="#publish-message-modal"
              >
                <svg class="bi" width="16" height="16" fill="#666666">
                  <use xlink:href="/img/bootstrap-icons.svg#envelope" />
                </svg>
              </button>
            </div>
            <div
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Time travel"
            >
              <button
                id="process-instance-time-travel"
                onclick="timeTravelModalElementId = undefined"
                data-bs-toggle="modal"
                data-bs-target="#time-travel-modal"
              >
                <svg class="bi" width="16" height="16" fill="#666666">
                  <use xlink:href="/img/bootstrap-icons.svg#clock-history" />
                </svg>
              </button>
            </div>
          </div>
          <div id="canvas-controls">
            <button
              id="toggleFullscreenButton"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Enable fullscreen"
              onclick="enterFullscreen()"
            >
              <img src="/img/EnableFullscreen.svg" width="14" height="14" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Reset viewport"
              onclick="resetViewport()"
            >
              <img src="/img/Target.svg" width="15" height="15" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Zoom out"
              onclick="zoomOut()"
            >
              <img src="/img/Minus.svg" width="12" height="12" />
            </button>
            <button
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-trigger="hover"
              title="Zoom in"
              onclick="zoomIn()"
            >
              <img src="/img/Plus.svg" width="20" height="20" />
            </button>
          </div>
          <div id="canvas" style="height: 400px"></div>
          <div
            class="toast-container bottom-0"
            style="z-index: 101; position: absolute"
            id="notifications-toast-container"
          >
            <!-- notifications -->
          </div>
        </div>
      </div>

      <div class="col">
        <div
          th:replace="views/monitoring/process-instances/process-instance-details.html :: process-instance-details"
        ></div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
