<div th:fragment="process-instance-details-incidents">
  <div class="row">
    <div class="col">
      <table
        class="table table-striped table-hover caption-top"
        id="incidents-of-process-instance-table"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Incident Key</th>
            <th scope="col">Error Type</th>
            <th scope="col">Error Message</th>
            <th scope="col">Element</th>
            <th scope="col">Element Instance Key</th>
            <th scope="col">State</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
