<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body onload="loadHomeView();">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-3">
          <img width="257" height="130" src="/img/zee-404.svg" />
          <h2>Page not found</h2>
          <p>
            We’re sorry! The requested URL you're looking for may have been
            moved or deleted.
          </p>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
