<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body onload="loadHomeView();">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container-fluid">
      <div class="row p-4">
        <div style="padding-left: 20px">
          <img width="257" height="130" src="/img/zee-404.svg" />
          <h2
            style="
              margin-top: 14px;
              font-size: 28px;
              color: #000;
              font-weight: 400;
            "
          >
            Page not found
          </h2>
          <p style="font-size: 20px; line-height: 28px; color: #a8a8a8">
            We’re sorry! The requested URL you're looking for<br />may have been
            moved or deleted.
          </p>
        </div>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
