<div th:fragment="complete-job-modal">
  <div
      class="modal fade"
      id="complete-job-modal"
      tabindex="-1"
      aria-labelledby="completeJobModalLabel"
      aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completeJobModal">Complete Job</h5>
          <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="jobKey-complete" class="form-label">Job Key</label>
              <input
                  type="text"
                  class="form-control"
                  id="jobKey-complete"
                  readonly
              />
            </div>

            <div class="mb-3">
              <label for="jobVariables" class="form-label"
              >Variables (JSON)</label
              >
              <textarea class="form-control" id="jobVariables" rows="3">
{}</textarea
              >
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button
              type="button"
              class="btn btn-light"
              onclick="resetJobModal();"
          >
            Reset
          </button>
          <div>
            <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                onclick="completeJobModal();"
            >
              Complete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
