<div th:fragment="fail-job-modal">

  <div class="modal fade" id="fail-job-modal" tabindex="-1" aria-labelledby="failJobModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="failJobModal">Fail Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
              <label for="jobKey-fail" class="form-label">Job Key</label>
              <input type="text" class="form-control" id="jobKey-fail" readonly>
            </div>

            <div class="mb-3">
              <label for="jobRetries" class="form-label">Job Retries</label>
              <input type="number" class="form-control" id="jobRetries" value="0">
            </div>

            <div class="mb-3">
              <label for="jobErrorMessage" class="form-label">Error Message</label>
              <textarea class="form-control" id="jobErrorMessage" rows="3"></textarea>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="failJobModal();">Fail</button>
        </div>
      </div>
    </div>
  </div>

</div>