<div th:fragment="message-detail-modal">
  <div
    class="modal fade"
    id="message-detail-modal"
    tabindex="-1"
    aria-labelledby="messageDetailModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="messageDetailModal">Message Details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="messageKey" class="form-label">Message Key</label>
              <input
                type="text"
                class="form-control"
                id="messageKey"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="messageName" class="form-label">Message Name</label>
              <input
                type="text"
                class="form-control"
                id="messageName"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="messageCorrelationKey" class="form-label"
                >Message Correlation Key</label
              >
              <input
                type="text"
                class="form-control"
                id="messageCorrelationKey"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="messageVariables" class="form-label"
                >Variables (JSON)</label
              >
              <textarea
                class="form-control"
                id="messageVariables"
                rows="3"
                readonly
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="messageTimeToLive" class="form-label"
                >Message Time-To-Live (TTL)</label
              >
              <input
                type="text"
                class="form-control"
                id="messageTimeToLive"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="messageId" class="form-label">Message Id</label>
              <input type="text" class="form-control" id="messageId" readonly />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
